In [205]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [206]:
import pandas as pd
import matplotlib.pyplot as plt

In [207]:
df= pd.read_excel(r"/content/drive/MyDrive/Colab Notebooks/DATA_ANALYSIS/workfoce/v2.0_workforce.xlsx")
df.head()

,Column1,Column2,Column3,Column4,Column6,Column7,Column8,Column9,Column10,Column11,Column12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Estimation of Labour Force (15 Years & above) ...,NaN
1,Governorates,Place of\nresidence,Gender,‫الإجمالى‬‏,‫مؤهل جامعى‬‏\n‫ومؤهل فوق‬‏\n‫الجامعى‬‏,‫مؤهل فوق المتوسط‬‏\n‫وأقل من الجامعى‬‏,‫مؤهل متوسط فنى‬‏,‫ثانوية عامة‬‏\n‫وثانوية أزهرية‬‏,‫مؤهل أقل من المتوسط‬‏,‫يقرأ ويكتب وشهادة‬‏\n‫محو الأمية‬‏,‫أمى‬‏
2,NaN,NaN,Male,105558,27000,5469,35595,2654,15674,8299,10866
3,NaN,Urban,Female,26874,14186,1597,6351,477,1676,661,1926
4,NaN,NaN,Total,132432,41186,7066,41946,3131,17351,8960,12792

In [208]:
df.isnull().sum()

Column1     202
Column2     153
Column3       2
Column4       2
Column6       2
Column7       2
Column8       2
Column9       2
Column10      2
Column11      1
Column12      2
dtype: int64

In [209]:
df.rename(columns={
    'Column1': 'Governorate',
    'Column2': 'Place_of_residence',
    'Column3': 'Gender',
    'Column4': 'Total',
    'Column6': 'High_Education',
    'Column7': 'Medium_Education',
    'Column8': 'Technical_Education',
    'Column9': 'Secondary_Education',
    'Column10': 'Below_Secondary_Education',
    'Column11': 'Illiterate',
    'Column12': 'Semiliterate'
}, inplace=True)

In [210]:
df = df.drop(0)
df = df.drop(1)

In [211]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 2 to 229
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Governorate                27 non-null     object
 1   Place_of_residence         76 non-null     object
 2   Gender                     227 non-null    object
 3   Total                      227 non-null    object
 4   High_Education             227 non-null    object
 5   Medium_Education           227 non-null    object
 6   Technical_Education        227 non-null    object
 7   Secondary_Education        227 non-null    object
 8   Below_Secondary_Education  227 non-null    object
 9   Illiterate                 227 non-null    object
 10  Semiliterate               227 non-null    object
dtypes: object(11)
memory usage: 19.7+ KB
None

In [212]:
# Convert columns with numerical data from string to numeric type
numeric_columns = ['Total', 'High_Education', 'Medium_Education', 'Technical_Education',
                   'Secondary_Education', 'Below_Secondary_Education', 'Illiterate', 'Semiliterate']

for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Display the updated data types
print(df.dtypes)

Governorate                   object
Place_of_residence            object
Gender                        object
Total                        float64
High_Education               float64
Medium_Education             float64
Technical_Education          float64
Secondary_Education          float64
Below_Secondary_Education    float64
Illiterate                   float64
Semiliterate                 float64
dtype: object

In [213]:
# Print distinct values in string columns
string_columns = ['Governorate', 'Place_of_residence', 'Gender']

for col in string_columns:
    distinct_values = df[col].unique()
    print(f"Distinct values in column '{col}':")
    for value in distinct_values:
        print(value)
    print()

Distinct values in column 'Governorate':
nan
Total
Cairo
Alexandria
Port Said
Suez
Damietta
Dakahlia
Sharkia
Kalyoubia
Kafr-El- sheik
Gharbia
Menoufia
Behira
Ismaelia
Giza
Beni- Suef
Fayoum
Menia
Asyout
Suhag
Qena
Aswan
Luxor
Red Sea
El-wadi El-Gidid
Matrouh
South Sinai

Distinct values in column 'Place_of_residence':
nan
Urban
Rural
Total

Distinct values in column 'Gender':
Male
Female
Total
nan

In [214]:

df.describe()

,Total,High_Education,Medium_Education,Technical_Education,Secondary_Education,Below_Secondary_Education,Illiterate,Semiliterate
count,227.000000,227.000000,227.000000,227.000000,227.000000,227.000000,227.000000,227.000000
mean,10615.691630,2330.766520,462.801762,3723.171806,238.832599,1488.475771,814.185022,1557.422907
std,31557.315557,6661.474356,1342.704816,11342.002704,735.109954,4625.170710,2566.404496,4755.291125
min,66.000000,15.000000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,1116.500000,343.500000,57.500000,293.500000,11.000000,69.500000,44.500000,87.500000
50%,2727.000000,714.000000,137.000000,940.000000,49.000000,331.000000,157.000000,343.000000
75%,9730.000000,1635.000000,306.500000,3689.000000,189.000000,1503.500000,870.000000,1584.000000
max,301221.000000,66136.000000,13132.000000,105645.000000,6778.000000,42235.000000,23103.000000,44193.000000

In [215]:
df.to_excel('processed_data0.xlsx', index=False)
df = pd.read_excel("processed_data0.xlsx")
df =df.drop(1)
df = df.drop(2)
df = df.drop(3)
df = df.drop(4)
df = df.drop(5)
df = df.drop(6)
df = df.drop(7)
df = df.drop(8)
df = df.drop(9)
df = df.drop(10)
df.to_excel("processed_data8.xlsx", index=False)
df = pd.read_excel("processed_data8.xlsx")

In [216]:
new_df = pd.DataFrame(columns=['Governorate', 'Place_of_residence', 'Gender', 'Total', 'High_Education', 'Medium_Education', 'Technical_Education', 'Secondary_Education', 'Below_Secondary_Education', 'Illiterate', 'Semiliterate'])

# Find all the occurrences of 'Total' in the 'Place_of_residence' column
total_rows = df[df['Place_of_residence'] == 'Total']

# Iterate over the unique governorates
for i, governorate in enumerate(df['Governorate'].unique()):
    # Filter the rows for the current governorate
    governorate_rows = df[df['Governorate'] == governorate]
    #print(governorate_rows)

    # Get the corresponding 'Total' row for the current governorate
    if len(total_rows) > i :
        total_row_index = total_rows.index[i]

        # Extract the place of residence, gender, total value, and education-related values
        place_of_residence = df.loc[total_row_index, 'Place_of_residence']
        gender = df.loc[total_row_index + 1, 'Gender']
        total_value = df.loc[total_row_index + 1, 'Total']
        high_education = df.loc[total_row_index + 1, 'High_Education']
        medium_education = df.loc[total_row_index + 1, 'Medium_Education']
        technical_education = df.loc[total_row_index + 1, 'Technical_Education']
        secondary_education = df.loc[total_row_index + 1, 'Secondary_Education']
        below_secondary_education = df.loc[total_row_index + 1, 'Below_Secondary_Education']
        illiterate = df.loc[total_row_index + 1, 'Illiterate']
        semiliterate = df.loc[total_row_index + 1, 'Semiliterate']

        # Create a new row dictionary
        new_row = {
            'Governorate': governorate,
            'Place_of_residence': place_of_residence,
            'Gender': gender,
            'Total': total_value,
            'High_Education': high_education,
            'Medium_Education': medium_education,
            'Technical_Education': technical_education,
            'Secondary_Education': secondary_education,
            'Below_Secondary_Education': below_secondary_education,
            'Illiterate': illiterate,
            'Semiliterate': semiliterate
        }

        # Append the new row to the new DataFrame
        new_df = pd.concat([new_df, pd.DataFrame([new_row])], ignore_index=True)
# Print the new DataFrame
new_df.to_excel("last.xlsx", index=False)

print(new_df)

         Governorate Place_of_residence Gender  Total High_Education  \
0                NaN              Total  Total  29019           9816
1              Cairo              Total  Total  17435           5124
2         Alexandria              Total  Total   3220           1391
3          Port Said              Total  Total   2309            679
4               Suez              Total  Total   5513           1163
5           Damietta              Total  Total  19328           3710
6           Dakahlia              Total  Total  21112           5055
7            Sharkia              Total  Total  19361           5175
8          Kalyoubia              Total  Total  11953           2393
9     Kafr-El- sheik              Total  Total  17778           3992
10           Gharbia              Total  Total  14631           3586
11          Menoufia              Total  Total  20354           3116
12            Behira              Total  Total   4748           1309
13          Ismaelia              Total  Total  28370           6160
14              Giza              Total  Total  11115           1778
15        Beni- Suef              Total  Total  10315           1086
16            Fayoum              Total  Total  17601           2235
17             Menia              Total  Total  12341           1735
18            Asyout              Total  Total  13302           2201
19             Suhag              Total  Total   8653           1653
20              Qena              Total  Total   4864            995
21             Aswan              Total  Total   3911            771
22             Luxor              Total  Total   1426            496
23           Red Sea              Total  Total    815            278
24  El-wadi El-Gidid              Total  Total   1233            108
25           Matrouh              Total  Total    512            131

   Medium_Education Technical_Education Secondary_Education  \
0              1808                7621                 882
1              1106                4900                 368
2               167                1148                  28
3                93                 916                  32
4               265                1746                 134
5               928                6929                 311
6               922                7859                 590
7               785                6600                 373
8               355                4455                 444
9               870                6379                 380
10              476                5610                 218
11              673                7011                 399
12              205                1870                  96
13             1533                8803                 929
14              281                3908                 118
15              285                3768                 106
16              387                7644                 181
17              411                4547                 207
18              426                4543                 321
19              375                3871                 297
20              327                2270                 172
21              219                1839                 113
22              101                 521                  21
23               47                 388                  20
24               49                 297                  19
25               37                 201                  16

   Below_Secondary_Education Illiterate Semiliterate
0                       3605       2096         3191
1                       3339       1611          986
2                        198        132          155
3                        302        124          164
4                        865        627          712
5                       2506       2075         2869
6                       2253       1140         3294
7                       2932       1339         2158
8                       1234        981         2091
9                       2419       1104         2633
10                      1834       1226         1682
11                      3187       1528         4438
12                       647        277          343
13                      4864       2452         3630
14                      1233        556         3241
15                      1492        950         2628
16                      2473       1249         3431
17                      2033       1257         2152
18                      2057       1199         2555
19                      1114        491          853
20                       629        227          244
21                       469        196          303
22                       121         65          102
23                        42         20           20
24                       331        130          300
25                        59         51           16

In [40]:
df.head()

Empty DataFrame
Columns: []
Index: []

  Governorate Place_of_residence  Gender  Total  High_Education  \
0       Total              Rural  Female  24242            7191
1       Cairo                  0   Total  29019            9816
2  Alexandria                  0   Total  17435            5124
3   Port Said                  0   Total   3220            1391
4        Suez                  0   Total   2309             679

   Medium_Education  Technical_Education  Secondary_Education  \
0              1664                 6519                  268
1              1808                 7621                  882
2              1106                 4900                  368
3               167                 1148                   28
4                93                  916                   32

   Below_Secondary_Education  Illiterate  Semiliterate
0                       1888         798          5913
1                       3605        2096          3191
2                       3339        1611           986
3                        198         132           155
4                        302         124           164