In [1]:
import pandas as pd

## Reading 2022 and 2023 grades

In [2]:
grades_2022 = pd.read_csv(r"D:\Data Analysis\Uncleaned Data\2022 mean grades.csv")
grades_2023 = pd.read_csv(r"D:\Data Analysis\Uncleaned Data\2023 mean grades.csv")

In [3]:
grades_2023.head()

          city       أدبي  علمي رياضة  علمي علوم  total_mean
0        اسوان  62.303105   58.881589  60.442605   60.542433
1        اسيوط  63.250897   58.385600  62.820907   61.485801
2  الإسماعيلية  64.120516   70.838397  67.708370   67.555761
3   الاسكندرية  65.216586   67.055965  63.589343   65.287298
4       الاقصر  61.304830   60.923508  59.459226   60.562522

In [4]:
grades_2022.head()

          city       أدبي  علمي رياضة  علمي علوم  total_mean
0        اسوان  55.119761   57.949338  58.798358   57.289152
1        اسيوط  54.740793   57.703721  59.630377   57.358297
2  الإسماعيلية  62.245656   72.467673  67.650618   67.454649
3   الاسكندرية  60.984521   65.368450  63.949668   63.434213
4       الاقصر  55.385677   57.956045  58.980666   57.440796

## Mapping Arabic Data to their English equivalents
- Columns Title
- Governorates name

In [5]:
grades_2023.columns = ['Governorate', 'Literature_2023', 'Math_2023', "Science_2023","total_mean_2023"]
grades_2022.columns = ['Governorate', 'Literature_2022', 'Math_2022', "Science_2022","total_mean_2022"]

In [6]:
governorates_in_english = {
    "القاهرة": "Cairo",
    "الجيزة": "Giza",
    "القليوبية": "Qalyubia",
    "اسيوط": "Asyut",
    "الوادي الجديد": "New Valley",
    "السويس": "Suez",
    "الإسماعيلية": "Ismailia",
    "الشرقية": "Sharqia",
    "بورسعيد": "Port Said",
    "شمال سيناء": "North Sinai",
    "جنوب سيناء": "South Sinai",
    "البحيرة": "Beheira",
    "الاسكندرية": "Alexandria",
    "مطروح": "Matruh",
    "الفيوم": "Fayoum",
    "بني سويف": "Beni Suef",
    "المنيا": "Minya",
    "اسوان": "Aswan",
    "الاقصر": "Luxor",
    "سوهاج": "Sohag",
    "قنا": "Qena",
    "البحر الأحمر": "Red Sea",
    "الغربية": "Gharbia",
    "المنوفية": "Menoufia",
    "كفر الشيخ": "Kafr ElSheikh",
    "الدقهلية": "Dakahlia",
    "دمياط": "Damietta"
}

grades_2023['Governorate'] = grades_2023['Governorate'].replace(governorates_in_english)
grades_2022['Governorate'] = grades_2022['Governorate'].replace(governorates_in_english)

## Merging 2022 and 2023 grades in a dataframe

In [7]:
grades = pd.merge(grades_2022, grades_2023,on ="Governorate")

In [8]:
grades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Governorate      27 non-null     object
 1   Literature_2022  27 non-null     float64
 2   Math_2022        27 non-null     float64
 3   Science_2022     27 non-null     float64
 4   total_mean_2022  27 non-null     float64
 5   Literature_2023  27 non-null     float64
 6   Math_2023        27 non-null     float64
 7   Science_2023     27 non-null     float64
 8   total_mean_2023  27 non-null     float64
dtypes: float64(8), object(1)
memory usage: 2.0+ KB

In [9]:
grades.isnull().sum()

Governorate        0
Literature_2022    0
Math_2022          0
Science_2022       0
total_mean_2022    0
Literature_2023    0
Math_2023          0
Science_2023       0
total_mean_2023    0
dtype: int64

## Saving data in "Cleaned Data" folder

In [10]:
grades.to_csv("D:\Data Analysis\Cleaned Data\grades.csv",index = False)